/*.container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}*/

body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    background-image: url('../../images/alex-gruber-it3aC1K6sWQ-unsplash.jpg');
    background-size: cover;
    
    /*background-position: center;*/

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #ccc;
    padding-bottom: 20px;

}

.profile_picture {
    margin-right: 10px; /* Add some margin between the profile picture and the label */
}

.profile_picture img {
    width: 180px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin-bottom: 30px;
}

label {
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    /*margin: 10px auto;*/
    border-radius: 5px;
    cursor: pointer;
}

input {
    display: none;
}

/*.wrapper { 
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}*/

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #333 ;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.input-box{
    position: absolute;
    right: 20px;
    top: 50%;
    transition: translateY(-50%);
    font-size: 20px;
    border: 1px #333;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #e3362c;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
    text-align: center;
}