body {
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.clickable-box {
    width: 100px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    background-color: #3498db;
    display: flex;
    flex-direction: column;  /*Make it a vertical box */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, filter 0.3s ease; /* Added filter transition */
    /*filter: blur(5px);  Initial blur value, adjust as needed */
}

.clickable-box:hover {
    background-color: #2980b9;
    filter: blur(0); /* Remove the blur on hover */
}

.plus-sign {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.box-text {
    color: #fff;
    font-size: 16px;
    margin-top: 8px; /* Adjust the margin as needed */
}

.user-box-container {
    display: flex;
    margin-top: 20px; /* Adjust the margin as needed */
}

.user-added-box {
    margin-right: 20px; /* Adjust the margin as needed */
    cursor: pointer;
}